* {
    box-sizing: boarder-box;
}

body {
    font-family: verdana,Ariel, sans-serif;
    background-color: #00005D;
}
#wrapper{
    background-color: #b3C7E6;
    color: #000066;
    width: 80%;
}